:root {
    --colorPallet: #0d1117;
    --backGround: #0d1117;
    --title:white;
    --borderColor: #0d1117;
    --cardColor: #161B22;
    --titleH3: #00ff0084;
    --titleH3Hovered: #00FF00;
  }

@keyframes animaMarcador{

    50%{
        border-right: transparent;
    }

}

@keyframes animaTexto{

    0%{
        width: 0;
    }

    100% {
        width: 20ch;
    }

}

*{

    margin: 0;
    padding: 0;

    font-family: monospace;

    color: var(--title);

}

html, body{

    height: 100%;
    width: 100%;

    overflow-y: scroll; 

}

body::-webkit-scrollbar {
    width: 8px;              
  }
  
  body::-webkit-scrollbar-track {
    background: var(--colorPallet);   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--colorPallet);    
    border-radius: 40px;       
    border: 1px solid white;  
  }


nav, header{

    position: fixed;

    z-index: 10;

    width: 5%;
    height: 100%;  

    background-color: var(--colorPallet);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: 1px 1px 10px black;

    transition: 0.5s ease-in-out;

}

header:hover, nav:hover{

    width: 15%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

nav:hover .a-ul-nav{

    width: 100%;

    gap: 0px;

}

nav:hover .li-nav{

    opacity: 1;

    width: 5vw;

}

.ul-nav{

    position: absolute;

    width: 100%;
    height: 100%;

    font-size: 1.5vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    list-style: none;

    gap: 5%;

}

.div-ul-li{

    width: 100%;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;

    transition: 0.5s ease-in-out;

}

.li-nav{

    font-size: 1.8vh;

    opacity: 1;

    width: 0;

    transition: width 1s ease-in-out;

    pointer-events: none;

}

.li-icon{

    pointer-events: none;

    transition: 0.5s ease-in-out;

}

.a-ul-nav{

    width: 40%;
    height: 4vh;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;

}

.div-ul-li:hover{

    width: 50%;
    transform: scale(1.1);  

}

.div-ul-li:hover .li-icon{

    transform: rotate(20deg);

}

a, i{

    text-decoration: none;
    color: white;
    transition: 500ms ease;
   

}

.a-nav:hover, .titulo-nav:hover, i:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.div-titulo-principal{

    width: auto;

    display: flex;
    justify-content: start;

}

.titulo-principal{

    font-size: 5em;

    border-right: 4px white solid;

    white-space: nowrap;
    width: 20ch;

    overflow: hidden;

    animation: animaTexto 2s steps(20) forwards, animaMarcador 1s linear infinite;
    
}

.section{

    width: 95%;
    height: 100%;
    
    margin-left: 5%;

    background-color: var(--backGround);

}

#section-inicio{

    width: 95%;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.div-inicio{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

}

#section-sobre-mim{

    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 5vh;

}

.div-sobre-mim{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    transition: 1s ease-in-out;

}

.img-sobre-mim{

    width: 40vw;
    height: 95vh;

    transition: display 1s ease-in-out;

}

.p-sobre-mim{

    width: 40vw;
    margin-top: 4vh;

    text-align: justify;

    font-size: 3vh;

}

#section-tecnologias{

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 5vh;

}

#tecnologias{
    margin: 3%;
}

.container-cards{

    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;

   /* padding-bottom: 10vh; */

}

.container-tecs{
    width: 40vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.card-tec, .card-port{

    width: 25vw;
    height: 40vh;

    background-color: var(--cardColor);

    border-radius: 40px;

    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.808);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 1s ease-in-out;

}

.card-tec{
    width: 10vw;
    height: 20vh;
}

.card-port{

    height: 70vh;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    row-gap: 2vh;

}

.card-tec:hover, .card-port:hover{
    transform: scale(1.05);
}

.card-top{

    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 2vh;

}

.titulo-card{

    width: auto;

    display: flex;
    justify-content: center;

    padding-bottom: 0.5vh;

    font-size: 2.7vh;

    color: white;

    border-bottom: 1px solid rgb(0, 190, 0);

    transition: 500ms ease-in-out;

}

.titulos-card-bloqueados{
    user-select: none;
    pointer-events: none;
}

.container-titulos-card{
    display: flex;
    flex-direction: row;
    gap: 25px;  
    cursor: pointer;  
}

.titulo-card:hover{
    color: var(--titleH3Hovered);

    border-bottom: 1px solid white;
}

.card-bottom{
    width: 24vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 3vh;
}

.card-center{
    width: 24vw;
}

.card-bottom-btns{

    width: 24vw;

    display: flex;
    flex-direction: row;
    gap: 1vw;

}

.p-card{

    text-align: justify;

    font-size: 2.2vh;

}


.img-card{

    width: 4vw;
    height: auto;

}

.img-card-projetos{

    width: 23vw;
    height: 22vh;

    border-radius: 15px;

}

#section-portifolio{

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    padding-bottom: 5vh;

}

#portifolio{

    margin: 3%;

}

.btn{

    width: 12vw;
    height: 5vh;

    color: white;
    background-color: transparent;

    font-size: 2.5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--titleH3);
    border-radius: 10px;

    transition: 500ms ease-in-out;

}

.btn i{
    color: var(--titleH3);
}

.btn:hover{

    color: var(--titleH3Hovered);

    border: 1px solid white;

    border-radius: 20px;

    font-size: 2.8vh;

    cursor: pointer;

    

}

.btn:hover i{

    color: white;
    transform: scale(1.1);

}

#btn-cv{

    display: flex;
    flex-direction: row;
    gap: 20px;

    width: 7vw;

}


.container{

    width: 80vw;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.icones{

    margin-top: 5vh;

    width: 40vw;

    display: flex;
    justify-content: center;
    gap: 10%;

}

i{

    font-size: 3vh;

    cursor: pointer;

    transition: 500ms ease-in-out;

}

i:hover{

    transform: scale(1.2);

    color: var(--titleH3);

}

.titulos-h2{

    width: 100%;

    display: flex;
    justify-content: center;

    padding-bottom: 1vh;

    font-size: 4.5vh;

    color: var(--title);

    transition: 500ms ease-in-out;

}

.titulos-h3{

    width: 100%;

    display: flex;
    justify-content: center;

    color: var(--titleH3);

    font-size: 3vh;

    transition: 1s ease-in-out;

}

.titulos-h3:hover{

    color: var(--titleH3Hovered);

}

.div-curriculo{
    width: 85%;
}

.a-curriculo{

    height: 1vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    font-size: 2vh;

    color: white;
    border: 1px solid white;
    border-radius: 20px;

    padding: 20px;

    transition: 0.5s ease-in-out;

}

.a-curriculo i{
    color: white;
}

.a-curriculo:hover{

    color: var(--titleH3);
    border: 1px solid var(--titleH3);

    border-radius: 40px;

}

.a-curriculo:hover i{
    color: var(--titleH3);
}

#i-cv{

    pointer-events: none;

    transition: 0.5s ease-in-out;

}

.input-msg-whats{
    background-color: transparent;

    height: 3vh;
    width: 35vw;

    font-size: 1.6vh;

    border: 1px solid var(--titleH3);
    border-radius: 20px;
    padding: 5px;
    padding-left: 8px;

    transition: 0.5s ease-in-out;
}

.input-msg-whats:focus{
    border: 1px solid var(--titleH3Hovered);
    padding-left: 10px;
}

.div-mais-informacoes{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-texto-sobre-mim{
    width: 85%;
}

.div-whats{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.pnl-bloqueio{
    background-color: black;
    opacity: 0.9;
    
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.pnl-bloqueio h1{
    position: relative;
    color: white;
    opacity: 1;
    font-size: 10vh;
}

.container-cards-tecs{
    width: 24vw;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 15px;
}

.tec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 3vh;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.8vh;
    border-radius: 20px;
    font-weight: bold;
}

.tec-html{
    background-color: #e34c26;
}

.tec-css{
    background-color: #264de4;
}

.tec-javascript{
    background-color: #f7df1e;
}

.tec-php{
    background-color: #777bb3;
}

.tec-delphi{
    background-color: #b22222 ;
}

.tec-cplusplus{
    background-color: #00599c;
}

/* RESPONSIVIDADE */

@media (max-width: 450px){

    .pnl-bloqueio h1{
        font-size: 4vh;
    }

    /*section*/

    .section{


        width: 85%;
        margin-left: 15%;

    }

    /*navbar*/

    nav{

        width: 15%;

    }

    .ul-nav{
        
        width: 100%;

        margin: auto;
    
        font-size: 1.6vh;
        
    }

    /*section sobre mim*/

    .titulos-h2{

        width: 35vw;

        font-size: 2.7vh;

    }

    .p-sobre-mim{

        width: 40vw;
    
        font-size: 2vh;
    
    }

    .img-sobre-mim{

        width: 40vw;
        height: 37vh;
    
    }

    /*Cards*/

    .img-card{

        width: 35vw;
        height: auto;
    
    }

    .img-card-projetos{

        width: 55vw;
        height: auto;
    
    }

    .card-port, .card-tec{

        width: 10vw;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.400);

        padding: 25px;

    }

    .card-port{

        width: 70vw;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 25px;

    }

    .titulo-card{

        width: auto;
    
        padding-bottom: 1vh;
    
        font-size: 3vh;
    
    }
    
    .card-bottom{
        width: 67vw;
        row-gap: 2vh;
    }

    .btn{

        width: 35vw;
        height: 5vh;

        margin-top: 1vh;
    
    }

    /*Titulos*/

    .titulos-h2{

        font-size: 3vh;

        width: auto;

        padding-top: 1vh;

    }

    .titulo-card{

        width: 50vw;

    }

}

@media (min-width: 451px) and (max-width: 750px){
    .pnl-bloqueio h1{
        font-size: 5vh;
    }
}

@media (min-width: 751px) and (max-width: 1250px){

    
}